.subnav__link {
    color: #437DFF;
    text-decoration: none;
    font-size: 20px;
    transition: opacity .3s;
    display: flex;
    flex-direction: column;
}

.subnav__link:hover {
    opacity: .6;
}