.fade_direction_out {
    animation-name: fade_direction_out;
}

@keyframes fade_direction_out {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(0, 50px);
    }
}