.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-device-width: 768px) {
    .navbar {
        justify-content: flex-start;
    }
}