.subnav__item {
    list-style-type: none;
    font-size: 32px;
    line-height: 37px;
    padding: 20px 50px;
    background-color: #E8E8E8;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    min-width: 240px;
}

.subnav__item:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 960px) {
    .subnav__item {
        min-width: inherit;
        width: 100%;
        margin-right: 0;
    }
}