.switcher {
    cursor: pointer;
    display: flex;
    margin-right: 20px;
}



@media screen and (max-width: 768px) {
    .switcher {
        grid-column: 3;
        margin-right: 0;
        align-self: end;
    }

    .switcher:last-of-type{
        margin-right: 0;
        grid-row: 1;
        align-self: start;
    }
}