.switcher {
    cursor: pointer;
    display: flex;
    margin-right: 20px;
}

.switcher:last-of-type{
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .switcher {
        margin-right: 10px;
    }
}