.form__label {
    position: absolute;
    top: calc(50% - 19px);
    left: 16px;
    transition: all .3s ease-in-out;
    pointer-events: none;
    color: var(--placeholder-color);
    font-size: 16px;
    font-weight: 400;
}