.form {
    min-width: 400px;
    margin: 0;
    padding: 15px 0 30px 0;
    box-sizing: border-box;
    box-shadow: var(--subnav-item-box-shadow);
    background-color: var(--subnav-item-background);
    border-radius: 20px;
}