input {
    border: 0;
    border-bottom: 1px solid var(--border-color);
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: 100%;
    background-color: transparent;
    margin: 0;
}
input:focus {
    border-bottom-color: var(--link-color-active);
}

input::placeholder {
    color: transparent;
    font-size: 12px;
    text-transform: lowercase;
}
input:focus::placeholder {
    color: var(--text-color);
}

input:not(:placeholder-shown) + label,
input:focus + label {
    top: -16px;
    font-size: 14px;
    pointer-events: initial;
}